* {
  padding: 0;
  margin: 0;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Spartan', sans-serif;
}

.content {
  width: 100vw;
  height: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "desc1" "gambar2" "desc2" "gambar3";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.content .nav {
      grid-template-areas: "header";
  position: relative;
}

.content .nav .images {
  width: 100%;
  height: 100%;
  position: relative;
}

.content .nav .images .image img {
  width: 100%;
  height: 100%;
}

.content .nav .imgnav {
  top: 0;
  position: absolute;
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .nav .imgnav .option {
  position: absolute;
  left: 20px;
}

.content .nav .navcontent {
  width: 100%;
  height: 15vh;
  opacity: 0;
  top: -15vh;
  position: absolute;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .nav .navcontent div span a {
  margin: 2px;
  text-decoration: none;
  color: black;
  position: relative;
}

.content .nav .navcontent div span a::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .nav .navcontent div span a:hover::after {
  width: 100%;
}

.content .nav .navcontent div span a:active {
  font-weight: 700;
}

.content .nav .navcontent img {
  background-repeat: no-repeat;
}

.content .nav .geser2 {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .nav .geser2 .left, .content .nav .geser2 .right {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.content .nav .geser2 .left:active, .content .nav .geser2 .right:active {
  background-color: #454545;
}

.content .text {
      grid-template-areas: "gambar1";
  position: relative;
  height: auto;
  width: 80%;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 20px;
}

.content .text #btnshop:hover {
  background-color: #a1a1a1;
}

.content .text #btnshop {
  cursor: pointer;
}

.content .text .title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.content .text .desc {
  font-weight: 500;
  font-size: 12px;
  color: #a1a1a1;
  margin-bottom: 15px;
}

.content .text button {
  border: none;
  padding: 10px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  background-color: transparent;
}

.content .text button p {
  letter-spacing: 5px;
  font-size: 12px;
}

.content .twosec img {
  width: 100%;
}

@media (min-width: 900px) {
  .content {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
  }
  .content .nav {
    grid-column: span 2;
    -ms-grid-row: 1;
    grid-row: 1fr;
  }
  .content .nav .images {
    overflow: hidden;
    background-size: cover;
  }
  .content .nav .images .image {
    height: 100%;
  }
  .content .nav .images .image .poto {
    background-size: contain;
    height: 100%;
    position: absolute;
  }
  .content .nav .imgnav {
    height: 15vh;
  }
  .content .nav .imgnav .option {
    display: none;
  }
  .content .nav .imgnav .logo {
    left: 40px;
    position: absolute;
    background-position: center;
  }
  .content .nav .navcontent {
    width: 100%;
    height: 15vh;
    opacity: 1;
    top: 0;
    position: absolute;
    background-color: transparent;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 600;
    font-size: 12px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .content .nav .navcontent .close {
    display: none;
  }
  .content .nav .navcontent div {
    position: relative;
    left: 50px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 3px;
  }
  .content .nav .navcontent div span a {
    margin: 2px;
    text-decoration: none;
    color: white;
  }
  .content .nav .navcontent img {
    background-repeat: no-repeat;
  }
  .content .nav .text {
    -ms-grid-column: 3;
    grid-column: 3;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .nav .navcontent {
    font-size: 1.2em;
  }
  .content .nav .geser2 {
    bottom: 0;
  }
  .content .twosec {
    grid-column: span 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .twosec .text {
    width: 40%;
  }
  .content .twosec .text .title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .content .twosec .text .desc {
    line-height: 1.5em;
  }
  .content .twosec img {
    width: 27%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */